<div class="container">
  <footer class="footer">
    <small>
      copyrights &copy: <a herf="www.sharedudes.com"> My webpage</a>
      by <a href="www.sharedudes.com">HAMMAD MASOOD</a>
    </small>
    <nav>
      <ul>
        <li>
          <%= link_to "about", about_path %>
        </li>
      </ul>
    </nav>
  </footer>
</div>